.PICTURESS{
	float:left;
}
.MARGINS{
	 font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	 padding-right: 10%;
	padding-left: 20%;
}

	
#tabs {
	float:left;
	width:100%;
	background:#45494c;
	font-size:100%;
	line-height:normal;
	color: white;
	}
p.serif {
    font-family: "Times New Roman", Times, serif;
}

.SIDE-NAV{
	background-color:#45494c;
	width:5%;
}
.NAVIGATIONS{
	width:20%;

}
.CENTRE{
	margin-top: 50px;
}
.PIC{
	margin-top: 50px;
	margin-left: 20%;
	border-radius: 55%;
	height:20%;
	width:50%;

}
.side-img{
	margin-top:5px;
	margin-left: 10px;
	width:25px;
	height:25px;
}
.CONTENT-BODY{
 	font-family: "Times New Romans";
	width:40%;

}
.SIDEBAR
{
	width:30%;}

.page-height{
	height: 120%;
		float:left;
}
hr{
	margin-top: 15px;
	margin-bottom: 20px;
	border-color: #afafaf;
}
a.link{
	color:#2e7016;
}
a{
	color:black;
	text-decoration: none;
}
a:hover{
	color: #2e7016;

}
a.Side-Buttons:hover{
	background-color:#2e7016;
	color:white;
}
a.Side-Buttons{
	border-radius: 4%;
	 	font-family: "Times New Romans";
padding-left : 10px;
padding-right : 10px;
padding-bottom:  5px;
padding-top:5px;
font-size:17px;
background-color:#bfc4cc;
color:black;

}
p.date{
	line-height: 20%;
	margin-top:1px;
	color:#45494c;
	font-size:9px;

}
a.BUTTON-CONTINUE{

padding-left : 10px;
padding-right : 10px;
padding-bottom:  5px;
padding-top:5px;
font-size:17px;
color: white;
background-color:#45494c;
 
text-decoration: none;
}